@use '../abstracts/_variables'as vars;
@use '../abstracts/_functions'as func;


@use 'sass:map';


#picture {
    width: 80%;
    height: 100%;

}

.listItemsContainer {
    color: black;
    list-style: none;


    display: flex;
    flex-direction: column;
    align-items: center;


    &__content {
        background-color: map.get($map: vars.$colors, $key: color4);
        color: map.get($map: vars.$colors, $key: color2);
        width: 80%;
        margin: 20px;
        border-radius: 0.4rem;
        padding: 1.5rem 0rem 1rem 1.5rem;
        font-family: vars.$text-font;
        font-size: 1rem;

        box-shadow: 5px 5px 15px -5px map.get($map: vars.$colors, $key: color2);

        &--partyName {
            font-size: 2rem;
            margin-bottom: 20px;
        }

        &--partyFrom {
            font-family: vars.$text-fontTwo;
            margin-bottom: 10px;
        }

        &--date {
            font-family: vars.$text-fontTwo;
            margin-bottom: 20px;
        }

        &--btnDetail {
            font-family: vars.$text-font;
            font-size: 0.5rem;
            padding: 0.5rem;
            border-radius: 0.4rem;
            background-color: map.get($map: vars.$colors, $key: color2);
            color: map.get($map: vars.$colors, $key: color3);
            border: none;
        }

    }

}

.listItemsContainer img {
    width: 10%;
}

.dashboard {

    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;


    &__logo {
        width: 7rem;
    }

    &__btnLogOut {
        margin-right: 3rem;
        font-family: vars.$text-font;
        font-size: 0.5rem;
        padding: 0.5rem;
        border-radius: 0.4rem;
        background-color: map.get($map: vars.$colors, $key: color2);
        color: map.get($map: vars.$colors, $key: color3);


    }

}

.eventsContainer {
    margin-top: 1rem;
    display: flex;
    margin-bottom: 2rem;

    &__textContainer {


        &--sloganOne {
            font-family: vars.$text-font;
            color: map.get($map: vars.$colors, $key: color2);
            margin-left: 2.5rem;
            font-size: 3rem;
        }

        &--text {
            font-family: vars.$text-font;
            color: map.get($map: vars.$colors, $key: color2);
            font-size: 0.8rem;

            margin-left: 2.5rem;
        }
    }

    &__iconContainer {
        display: flex;

        align-items: center;
        justify-content: center;
        margin-left: 3.8rem;

        .fa-plus {
            border-radius: 50%;
            padding: 1rem;
            background-color: map.get($map: vars.$colors, $key: color2);
            color: map.get($map: vars.$colors, $key: color3);
            font-size: 2rem;
        }
    }
}